[advice]
	# Reduce verbosity of help messages.
	pushUpdateRejected = false
[alias]
	br = branch
	ci = commit
	co = checkout
	dc = diff --cached
	lgd = log --oneline --graph --decorate
	st = status -sb
[core]
	# Warn on unsafe or irreversable conversions.
	safecrlf = warn
[diff]
	# Don't show as modified if submodules have untracked files
	ignoreSubmodules = untracked
	# Color moved lines of code differently.
	colorMoved = default
[log]
	follow = true
[merge]
	# A wonderful default diffing tool.
	tool = vimdiff
	# Provide base context to aid in conflict resolution.
	conflictstyle = diff3
[pager]
	# Use the pager for long status display.
	status = true
[push]
	default = simple
[rerere]
	enabled = true
[include]
	# Source local override file if one exists.
	path = ~/.gitconfig.local
